.frame {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('../assets/start/loading_background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: none;
}

.frame2 {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('../assets/start/background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: none;
}

.frame2.hide {display: none;}
.frame2.show {display: block;}

/* 로딩화면 인터코디 로고 */
.credits {
    position: absolute;
    background: url('../assets/start/loading_intercodi.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 33%;
    left: 12%;
    width: 76.3%;
    height: 20.3%;
    z-index: 20;
}

/* 밑부분 글씨 */
.creditsText {
    position: absolute;
    background-image: url('../assets/start/loading_copyright.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: 5px;
    left: 33.3%;
    width: 33.3%;
    height: 3%;
    z-index: 21;
}

.credits.hide, .creditsText.hide {display: none;}
.credits.show, .creditsText.show {display: block;}

/* 시작화면 인터코디 로고 */
*.catface {
    position: absolute;
    background: url('../assets/start/intercodi_logo.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 5%;
    left: 23.5%;
    width: 53%;
    height: 13%;
    z-index: 20;
}

/* 홈화면 help버튼 */
.gettings {
    position: absolute;
    top: 27%;
    left: 48%;
    width: 43%;
    height: 46%;
    background: url('../assets/start/helpOff.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-tap-highlight-color: transparent;
    z-index: 1000;
}

.gettings:active {
    background: url('../assets/start/helpOn.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.gettings.hide {display: none;}
.gettings.show {display: block;}

/* 홈화면 start버튼 */
.startcode {
    position: absolute;
    top: 27%;
    left: 10%;
    width: 43%;
    height: 46%;
    background: url('../assets/start/startOff.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-tap-highlight-color: transparent;
    z-index: 1000;
}

.startcode.hide {display: none;}
.startcode.show {display: block;}

.startcode:active {
    background: url('../assets/start/startOn.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.catface.hide {display: none;}
.catface.show {display: block;}
/* Analytics Info Page Elements */

.usageQuestion {
    position: absolute;
    width: 60%;
    height: 35%;
    top: 15%;
    left: 20%;
    color: white;
    font-size: 5em;
    font-weight: 500;
    text-align: center;
    text-shadow: 1px 1px 4px #333333;
}

.usageQuestion.hide {display: none;}
.usageQuestion.show {display: block;}

.usageIcon {
    width: 100%;
    margin-left: 3%;
}
.usageText {
    color: #999999;
    font-size: 2em;
    text-align: center;
    margin-top: .5em;
}

.usageSchool {
    position: absolute;
    top: 45%;
    left: 17%;
    margin: 0px;
    width: 17%;
    height: 30%;
    -webkit-tap-highlight-color: transparent;
    z-index: 1000;
}

.usageSchool.hide {display: none;}
.usageSchool.show {display: block;}

.usageHome {
    position: absolute;
    top: 45%;
    left: 42%;
    width: 17%;
    height: 30%;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    z-index: 1000;
}

.usageHome.hide {display: none;}
.usageHome.show {display: block;}

.usageOther {
    position: absolute;
    top: 45%;
    left: 67%;
    margin: 0px;
    width: 17%;
    height: 22%;
    -webkit-tap-highlight-color: transparent;
    z-index: 1000;
}

.usageOther.hide {display: none;}
.usageOther.show {display: block;}

.usageNoanswer {
    position: absolute;
    width: 50%;
    height: 15%;
    top: 90%;
    left: 25%;
    text-align: center;
    z-index: 25;
}
.usageNoanswerText {
    color: #35A8E0;
    font-size: 1.8em;
}

.usageNoanswer.hide {display: none;}
.usageNoanswer.show {display: block;}

/* TODO: make font sizes relative!! */
/* Usage text boxes */
.usage-text {
    position: absolute;
    width: 20%;
    height: 15%;
    top: 75%;
    background-color: #35A8E0;
    border: none;
    color: white;
    font-size: 35px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
}

.usage-text.school {
    left: 10%;
}

.usage-text.home {
    left: 40%;
}

.usage-text.other {
    left: 70%;
}

.usage-text.dont-ask {
    top: 90%;
    right: 2%;
    height: 10%;
    width: 20%;
    font-size: 20px;
    text-align: right;
}